.c-black {
  color: #2F354D;
}

.c-green {
  color: #14C393;
}

.c-casper {
  color: #9FAAC4;
}

.c-waterloo {
  color: #7A859E;
}

.c-fiord {
  color: #505573;
}

.c-white {
  color: #FFFFFF;
}

.c-rhino {
  color: #2F354D;
}

.c-mirage {
  color: #181B2B;
}