.c-black {
  color: #2F354D;
}

.c-green {
  color: #14C393;
}

.bg-green {
  background-color: #14C393;
}

.bg-green-light-1 {
  background-color: #edf8f5;
}

.c-casper {
  color: #9FAAC4;
}

.c-waterloo {
  color: #7A859E;
}

.c-fiord {
  color: #505573;
}

.c-white {
  color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-bleach-night {
  background-color: #181B2B
}

.c-rhino {
  color: #2F354D;
}

.c-mirage {
  color: #181B2B;
}

.c-yellow {
  color: #FFAD4D;
}

.c-dark-blue {
  color: #15181F;
}
