.pb-0 {
  padding-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-16 {
  padding-right: 16px
}

.pr-10 {
  padding-right: 10px
}

.mr-16 {
  margin-right: 16px;
}

.w-122 {
  width: 122px;
}

.w-232 {
  width: 232px;
}

.w-160 {
  width: 160px;
}

.valign-middle {
  vertical-align: middle;
}

.rounded {
  border-radius: 50%;
}

.w-55 {
  width: 55px;
}

.w-60 {
  width: 60px;
}

.mr-12 {
  margin-left: 12px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-12 {
  margin-bottom: 12px;
}

.header .header-logo {
  width: 128px !important;
  height: 24px !important;
  margin: 48px auto 56px auto;
}

.d-block {
  display: block;
}

.greenbox {
  padding: 20px 24px;
  background: #EDF8F5;
  border-radius: 6px;
}