.pb-0 {
  padding-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.pr-24 {
  padding-right: 24px;
}

.pr-16 {
  padding-right: 16px
}

.mr-16 {
  margin-right: 16px;
}

.w-122 {
  width: 122px;
}

.w-232 {
  width: 232px;
}

.w-160 {
  width: 160px;
}

.valign-middle {
  vertical-align: middle;
}

.rounded {
  border-radius: 50%;
}

.w-55 {
  width: 55px;
}

.mr-12 {
  margin-left: 12px;
}

.mb-24 {
  margin-bottom: 24px;
}

.header .header-logo {
  width: 128px !important;
  height: 24px !important;
  margin: 48px auto 56px auto;
}

.d-block {
  display: block;
}