.showmobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .hidemobile {
        display: none;
    }

    .showmobile {
        display: block;
    }

    .container {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }

    .h1 {
        font-size: 36px;
    }

    table.body .container {
        width: 100% !important;
    }

    .body-1, .body-2 {
        font-size: 18px;
    }

    table.button, table.button table {
        width: 100% !important;
    }

    table.button table td a {
        display: block;
        text-align: center;
        font-weight: 500;
        font-size: 18px;
    }

    .footer span.body-2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    img.mail-list-check {
        height: 21px !important;
    }

    .mail-list span {
        max-width: 400px;
    }

    body, table.body, p, td, th {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }

    .social {
        height: 32px !important;
        float: none;
    }
}