// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f9fafc !important;
}

.container.header {
  background: #f9fafc;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f9fafc;
}

.container.secondary {
  background: transparent !important;
}

.social {
  width: 16px !important;
  height: 16px !important;
  display: inline;
}

.list-item {
  padding: 3px 6px 0 0;
  width: 17px !important;
  height: 18px !important;
}

.list-item-2 {
  padding: 0 12px 8px 0;
  width: 24px !important;
  height: 24px !important;
}

.logo-neuro {
  width: 121px !important;
  height: 40px !important;
}

.logo-sheets {
  width: 124px !important;
  height: 40px !important;
}

.gift-image {
  width: 240px !important;
  height: auto !important;
}

.signal-image {
  width: 331px !important;
  height: auto !important;
  border: none !important;
  padding: 0 !important;
}

.avatar-image {
  width: 40px !important;
  height: auto !important;
}

a {
  color: #14c393;
  // color: #5275ff;
  text-decoration:none;
}

.gray-border {
  border-radius: 4px;
  border: 1px solid #E7EAF3;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  padding: 14px 24px;
  display: inline-block;
}

.border {
  border-bottom: 1px solid #E7EAF3;
}

.item-desc{
  font-size: 14px;
  margin-bottom: 4px;
}

.footer a .small, .underline{
  border-bottom: 1px solid #7A859E;
}

.signal img {
  margin: 10px 0 0;
  Margin: 10px 0 0;
  border: 1px solid #E7EAF3;
  padding: 10px;
  box-sizing: border-box;
}
