// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #F7F8FB;
}

.container.header {
  background: #F7F8FB;
}

.body-drip {
  border-top: 8px solid #663399;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .container {
  background: transparent;
}

.browser-view {
  float: right;
  margin-right: 48px;
}

// Container Styles

.container {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

table.container.radius {
  border-radius: 4px !important;
}

table.container.radius.academy {
  background-color: #EDF8F5;
}

table.container {
  width: 600px;
}

table.body {
  background: #F7F8FB;
}

table.button.radius table td {
  border-radius: 6px;
}

.body-expander table.container.radius {
  border-radius: 0 !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

@media only screen and (max-width: 600px) {
  table.body .container {
    width: 95% !important;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    padding-left: 48px !important;
    padding-right: 48px !important;
  }
}

@media only screen and (max-width: 600px) {
  table.body .collapse > tbody > tr > .columns, table.body .collapse > tbody > tr > .column {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

// Mail Styles

.mail-academy-image {
  height: 84px !important;
  float: right;
}

.mail-arrow-link {
  height: 32px;
  display: table;
}

.mail-arrow-link span {
  display: table-cell;
  vertical-align: middle;
}

.mail-arrow-image {
  margin-left: 8px;
  display: table-cell;
  vertical-align: middle;
}

.mail-alert-image {
  border-radius: 4px;
}

.mail-list {
  list-style-type: none;
  padding-left: 0 !important;
  margin: 0 !important;
}

.mail-list li {
  height: 24px;
  display: table;
  // bypass gmail margin left style
  margin-left: 0 !important;
}

.mail-list span {
  height: 24px;
  display: table-cell;
  vertical-align: middle;
}

.mail-list-check {
  height: 16px !important;
  padding-top: 4px;
  margin-right: 12px;
}

.mail-regards-logo {
  height: 24px !important;
}

table.button {
  margin: 0 !important;
}

table.button table td a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  padding: 8px 20px;
  border: 0 solid #14c393;
  border-radius: 6px;
}

// Social Media
.social {
  height: 13px !important;
  float: right;
}

table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f9fafc;
}

.container.secondary {
  background: transparent !important;
}


.list-item {
  padding: 3px 6px 0 0;
  width: 17px !important;
  height: 18px !important;
}

.list-item-2 {
  padding: 0 12px 8px 0;
  width: 24px !important;
  height: 24px !important;
}

.logo-neuro {
  width: 121px !important;
  height: 40px !important;
}

.logo-sheets {
  width: 124px !important;
  height: 40px !important;
}

.gift-image {
  width: 240px !important;
  height: auto !important;
}

.signal-image {
  width: 331px !important;
  height: auto !important;
  border: none !important;
  padding: 0 !important;
}

.avatar-image {
  width: 40px !important;
  height: auto !important;
}

a {
  color: #14c393;
  // color: #5275ff;
  text-decoration:none;
}

.gray-border {
  border-radius: 4px;
  border: 1px solid #E7EAF3;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  padding: 14px 24px;
  display: inline-block;
}

.border {
  border-bottom: 1px solid #E7EAF3;
}

.item-desc{
  font-size: 14px;
  margin-bottom: 4px;
}

.footer a, .footer a .small {
  border-bottom: none !important;
}

.footer a .small, .underline{
  border-bottom: 1px solid #7A859E;
}

.signal img {
  margin: 10px 0 0;
  border: 1px solid #E7EAF3;
  padding: 10px;
  box-sizing: border-box;
}

.discount {
  max-width: 350px;
  display: block;
  margin: auto;
}

.testimonial {
  display: block;
  width: 600px;
  margin: auto;
}