// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #F7F8FB;
}

.container.header {
  background: #F7F8FB;
}

.body-drip {
  border-top: 8px solid #663399;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .container {
  background: transparent;
}

.browser-view {
  float: right;
  margin-right: 48px;
}

// Container Styles

.container {
  padding-left: 48px;
  padding-right: 48px;
}

table.container.radius {
  border-radius: 4px;
}

table.container.radius.academy {
  background-color: #EDF8F5;
}

table.container {
  max-width: #{$global-breakpoint};
  min-height: 100%;
}

table.body {
  background: #F7F8FB;
  margin: 0 auto;
}

table.button.radius table td {
  border-radius: 6px;
}

.body-expander table.container.radius {
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.mail-academy-image {
  height: 84px;
  float: right;
}

.mail-arrow-link {
  height: 32px;
  display: table;
}

.mail-arrow-link span {
  display: table-cell;
  vertical-align: middle;
}

.mail-arrow-image {
  margin-left: 8px;
  display: table-cell;
  vertical-align: middle;
}

.mail-alert-image {
  border-radius: 4px;
}

.mail-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.mail-list li {
  height: 24px;
  display: table;
  margin-left: 0;
}


.mail-list.arrow-list li {
  list-style-type: '→';
  list-style-position: outside;
  display: list-item;
  margin-left: 1em;
  height: unset;

  &::marker {
    color: $primary-color;
  }
}


.mail-list.arrow-list {

  li>a,
  li>span {
    height: auto;
    display: block;
    text-decoration: none;
    padding-left: 8px;
  }
}

.mail-list span {
  height: 24px;
  display: table-cell;
  vertical-align: middle;
}

.mail-list-check {
  height: 16px;
  padding-top: 4px;
  margin-right: 12px;
}

.plain-list {
  padding-left: 1.5em;
  margin: 0;

  a {
    color: $black;
  }
}

.mail-regards-logo {
  width: 88px;
  margin-top: 8px;
}

table.button {
  margin: 0;
}

table.button table td a {
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: left;
  display: inline-block;
  padding: 8px 20px;
  border: 0 solid #14c393;
  border-radius: 6px;
}

table.button.ghost table td a {
  color: #2F354D !important;
  background-color: #FFFFFF;
  border: 1px solid #E7EAF3;
}

.social {
  display: inline-block;
}

.social:not(:last-child) {
  margin-right: 12px;
}

.social img {
  width: 40px !important;
  height: 40px !important;
}

.socials th {
  text-align: right;
}

table.button.facebook table td {
  background: #3B5998;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f9fafc;
}

.container.secondary {
  background: transparent;
}


.list-item {
  padding: 3px 6px 0 0;
  width: 17px !important;
  height: 18px !important;
}

.list-item-2 {
  padding: 0 12px 8px 0;
  width: 24px !important;
  height: 24px !important;
}

.logo-neuro {
  width: 121px !important;
  height: 40px !important;
}

.logo-sheets {
  width: 124px !important;
  height: 40px !important;
}

.gift-image {
  width: 240px !important;
  height: auto !important;
}

.signal-image {
  width: 331px !important;
  height: auto !important;
  border: none;
  padding: 0;
}

.avatar-image {
  width: 40px !important;
  height: auto;
}

a {
  color: #14c393;
}

.gray-border {
  border-radius: 4px;
  border: 1px solid #E7EAF3;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  padding: 14px 24px;
  display: inline-block;
}

.border {
  border-bottom: 1px solid #E7EAF3;
}

.item-desc {
  font-size: 14px;
  margin-bottom: 4px;
}

table.footer {
  margin-top: 32px;
  margin-bottom: 48px;
}

table.footer .footer-mb {
  margin-bottom: 24px;
}

.footer {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
}

.footer .radius {
  padding: 32px 48px;
}

.footer .footer-logo {
  width: 96px;
  height: 18px;
}

.footer p {
  max-width: 504px;
  white-space: pre-line;
}

.footer a,
.footer a .small {
  border-bottom: none;
}

.footer a .small,
.underline {
  border-bottom: 1px solid #7A859E;
}

.footer .collapse a {
  text-align: right;
}

.signal img {
  margin: 10px 0 0;
  border: 1px solid #E7EAF3;
  padding: 10px;
  box-sizing: border-box;
}

.discount {
  max-width: 350px !important;
  display: block;
  margin: auto;
  width: 100%;
}

.testimonial {
  display: block;
  margin: auto;
  width: 100%;
  max-width: #{$global-breakpoint};
}

.notificationIcon {
  width: 32px !important;
  margin-right: 8px;
}

.entitySeprator {
  border: none;
  border-bottom: 1px solid #E7EAF3;
}

.comment-text {
  padding: 16px 20px;
  background: #F7F8FB;
  border-radius: 8px;
  color: #2F354D;
  margin-top: 10px;
  margin-bottom: 4px;
}

.bluebtn {
  padding: 12px 24px;
  background: #5275FF;
  border-radius: 4px;
  border: none;
  color: #fff;
}

.bluelink {
  color: #5275FF;
}

.suninfobox {
  background: #FFF5DA;
  border-radius: 6px;
}

.jungleinfobox {
  background: #EDF8F5;
  border-radius: 6px;
}

.greyinfobox {
  background: #F3F4FA;
  border-radius: 6px;
}

.infotd {
  padding: 20px 26px 20px 13px;
}

.infoimg {
  padding: 0 13px 0 26px;
  vertical-align: middle;
  text-align: center;
  width: 25% !important;
}

.infoimg img {
  width: 90px !important;
}

.singsheetimg {
  width: 456px;
}

.quote {
  background: #EDF8F5;
  border-radius: 8px;
  padding: 40px 32px;
  text-align: left;
}

.quote img {
  max-width: 36px !important;
  margin-bottom: 24px;
}

.quote p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2F354D;
  margin-bottom: 10px;
}

.quote .qname {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #181B2B;
}

.quote .qfrom {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #7A859E;
}

.showmobile {
  display: none;
}

.testibox {
  margin-bottom: 32px;
  margin-top: 32px;
}

.main-body table.container {
  padding: 48px 48px 32px 48px;
}

.sanfam {
  margin-top: 32px;
}

.sanfam span {
  font-size: 16px;
  line-height: 24px;
}

.san-token-promo {
  max-width: 352px;
  text-align: center;
  margin: 0px auto 32px;
}

.san-benefits {
  margin-bottom: 24px;
}

.san-benefits div.benefit {
  margin-bottom: 8px;
}

.san-benefits .img-hold {
  padding: 4px;
  float: left;
}

.san-benefits img {
  width: 16px !important;
}

.san-benefits div.c-rhino {
  font-size: 16px;
  line-height: 24px;
  float: right;
  width: calc(100% - 28px);
}

.clear-both {
  clear: both;
}

.benefit-title {
  margin-top: 24px;
  font-weight: 550;
  font-size: 16px;
  line-height: 24px;
}

.unsub {
  margin-bottom: 24px;
}

.unsub a {
  color: #7A859E !important;
}

.san-token p {
  font-size: 16px;
  line-height: 24px;
}

@media (max-width:#{$global-breakpoint}) {
  .small {
    font-size: 80% !important;
  }

  .hidemobile {
    display: none !important;
  }

  .showmobile {
    display: block !important;
  }

  .container {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  table.body .collapse>tbody>tr>.columns,
  table.body .collapse>tbody>tr>.column {
    padding: 0 !important;
  }

  table.button table td a {
    display: block !important;
    text-align: center !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    padding: 12px 20px !important;
  }

  .footer .radius {
    padding: 40px 24px !important;
  }

  .footer .footer-logo {
    margin-bottom: 24px !important;
  }

  table.footer {
    margin-top: 16px !important;
  }

  table.footer .footer-mb {
    margin-bottom: 32px !important;
  }

  .footer p {
    white-space: normal !important;
  }

  .footer .collapse span {
    margin-bottom: 6px !important;
  }

  .footer .collapse a {
    text-align: left !important;
  }

  img.mail-list-check {
    height: 21px !important;
  }

  .mail-list span {
    max-width: 400px !important;
  }

  .socials th {
    text-align: left !important;
  }

  .header .header-logo {
    margin: 40px auto !important;
  }

  table.body .container {
    width: 100% !important;
  }

  .mail-regards-logo {
    width: 107px !important;
  }

  .h1 {
    font-size: 32px !important;
    line-height: 40px !important;
  }

  .testibox {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .main-body table.container {
    padding: 40px 24px !important;
  }

  .sanfam {
    margin-top: 40px !important;
  }

  .sanfam span {
    font-size: 18px !important;
    line-height: 28px !important;
  }

  .body-2 {
    font-size: 18px !important;
    line-height: 28px !important;
  }

  .body-highlight {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  .san-benefits {
    margin-bottom: 32px !important;
  }

  .san-benefits div.benefit {
    margin-bottom: 10px !important;
  }

  .san-benefits div.c-rhino {
    font-size: 18px !important;
    line-height: 28px !important;
  }

  .benefit-title {
    margin-top: 32px !important;
    font-size: 18px !important;
    line-height: 26px !important;
  }

  .unsub {
    margin-bottom: 32px !important;
  }

  .footer,
  .footer p,
  .footer td,
  .footer th {
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .san-token p {
    font-size: 18px !important;
    line-height: 28px !important;
    margin-bottom: 32px !important;
  }
}