---
layout: mail-layout
image-url: https://api.santiment.net/images/emails/
---

<container class="radius">
  <spacer size="16"></spacer>
  <h3 class="h1 c-black">
    You have {{{{raw}}}}{% if var:comments_count > 0 %}{{var:comments_count}} new comments and{% endif %}{{{{/raw}}}} {{{{raw}}}}{{var:likes_count}}{{{{/raw}}}} new likes
  </h3>
  <spacer size="16"></spacer>
  <p class="body-1 c-black">👋 Hey, {{{{raw}}}}{{var:username}}{{{{/raw}}}} </p>
  <p class="body-1 c-black">Here’s some activities you could miss on Santiment.</p>
  <spacer size="40"></spacer>
</container>

{{{{raw}}}}
{% if var:comments_count > 0 %}
{{{{/raw}}}}
  <spacer size="4"></spacer>

  <container class="radius">
    <spacer size="44"></spacer>
    <table>
      <tr>
        <td>
          <img class="notificationIcon" src="https://mcusercontent.com/122a728fd98df22b204fa533c/images/130fde5b-3434-57c0-4e10-a5de0c792409.png" />
        </td>
        <td>
          <h2 class="h2">Comments</h2>
        </td>
      </tr>
    </table>
    <spacer size="40"></spacer>
    {{{{raw}}}}
      {% for comment in var:comments %}
        <table>
          <tr>
            <td class="w-55">
              <img class="avatar-image rounded" src="{{comment.avatar_url}}" />
            </td>
            <td>
              <span class="c-dark-blue">{{comment.username}}</span> <span class="c-waterloo">{% if comment.reply_to_text %}replied{% else %}commented{% endif %} on your</span> <a href="{{comment.link}}" target="_blank">"{{comment.title}}"</a>
              <p class="comment-text body-2">{{comment.comment_text}}</p>
              <a href="{{comment.link}}" target="_blank" class="mr-12">Reply</a>
            </td>
          </tr>
        </table>
        <spacer size="32"></spacer>
      {% endfor %}
    {{{{/raw}}}}
    <spacer size="44"></spacer>
  </container>
{{{{raw}}}}
{% endif %}
{{{{/raw}}}}

{{{{raw}}}}
{% if var:likes_count > 0 %}
{{{{/raw}}}}
  <spacer size="4"></spacer>

  <container class="radius">
    <spacer size="44"></spacer>
    <table>
      <tr>
        <td>
          <img class="notificationIcon" src="https://mcusercontent.com/122a728fd98df22b204fa533c/images/a44a5e29-7d3d-f75a-8169-8360932790ef.png" />
        </td>
        <td>
          <h2 class="h2">Likes</h2>
        </td>
      </tr>
    </table>
    <spacer size="40"></spacer>
    {{{{raw}}}}
      {% for like in var:likes %}
        <table>
          <tr>
            <td class="w-55">
              <img class="avatar-image rounded" src="{{like.avatar_url}}" />
            </td>
            <td>
              <span class="c-dark-blue">{{like.usernames}} {% if like.rest %} and {{like.rest}} others {% endif %}</span> <span class="c-waterloo">like your {{like.entity}}</span> <a href="{{like.link}}" target="_blank">"{{like.title}}"</a>
              <spacer size="10"></spacer>
            </td>
          </tr>
        </table>
        <spacer size="32"></spacer>
      {% endfor %}
    {{{{/raw}}}}
    <spacer size="44"></spacer>
  </container>
{{{{raw}}}}
{% endif %}
{{{{/raw}}}}

{{> mail-footer-auto}}
