<wrapper class="footer">

    <spacer size="32"></spacer>

    <container class="radius academy">

        <spacer size="32"></spacer>

        <row class="collapse">
            <columns large="9" class="pb-0">
                <row class="collapse">
                    <columns class="pb-0">

                        <span class="body-1 c-black">
                            Want to learn more about Alerts? Check our Academy page for the Alert’s use cases!
                        </span>

                    </columns>
                </row>

                <spacer size="20"></spacer>

                <row class="collapse">
                    <columns valign="middle" class="pb-0">

                        <a class="body-1 c-green mail-arrow-link" href="https://academy.santiment.net/sanbase/alerts-page/" target="_blank">
                            <span>Go to Academy</span>
                            <img class="mail-arrow-image"
                                 src="https://mcusercontent.com/122a728fd98df22b204fa533c/images/471e47fb-9088-5aa7-47e9-d1119adb56a2.png"
                                 alt="Arrow">
                        </a>

                    </columns>
                </row>
            </columns>

            <columns large="3" class="pb-0">

                <img class="mail-academy-image"
                     src="https://mcusercontent.com/122a728fd98df22b204fa533c/images/c0db7893-9786-3c20-4a17-4b608f1921da.png"
                     alt="Academy">

            </columns>
        </row>

        <spacer size="32"></spacer>

    </container>
</wrapper>