<container class="secondary footer">
    <spacer size="24"></spacer>

    <row>
       <columns small='12' large="7">
        <a href="*|UNSUB|*" class=".mr-16"><small class='small'>購読を解除</small></a>
        <a href="*|UPDATE_PROFILE|*"><small class='small'>メール設定</small></a>
</columns>
    <columns small='12' large="4" vailgn='center' class="socials">
        <p class='small-text-left m-0'>
        <a href="https://medium.com/santiment" target='_blank'>
          <img class='social pr-24' src="{{image-url}}social-medium.png" alt='' />
        </a>
        <a href="https://discord.gg/6fMxk82" target='_blank'>
          <img class='social pr-24' src="{{image-url}}social-discord.png" alt='' />
        </a>
        <a href="https://twitter.com/santimentfeed" target='_blank'>
          <img class='social pr-24' src="{{image-url}}social-twitter.png" alt='' />
        </a>
        <a href="https://t.me/santiment_network" target='_blank'>
          <img  src="{{image-url}}social-telegram.png" class='social' alt='' />
        </a>
      </p>
    </columns>
    </row>
    <row>
      <columns small="12">
      <small class='small'>
        購読を希望された方にこのメッセージをお送りしています。
      </small>

      <spacer size="12"></spacer>

      <row>
        <columns large='7' small='12'>
        <small class='small'>© 2019 Santiment Inc.</small>
      </columns>
      <columns large='5' small='12'>
        <p class='text-right small-text-left small c-waterloo m-0'>
        <a href='https://app.santiment.net/privacy-policy' target='_blank' class="underline"><small>契約条件・プライバシー</small></a>
      </p>
      </columns>
      </row>
    </columns>
    </row>
  </container>
