<container class="secondary footer">
    <spacer size="24"></spacer>

    <row>
    {{>preferences}}
    <columns small='12' vailgn='center'>
        <p style='margin: 0;' class='small-text-left'>
        <a href="https://medium.com/santiment" target='_blank'>
          <img style="padding-right: 24px" class='social' src="{{image-url}}social-medium.png" alt='' />
        </a>
        <a href="https://discord.gg/6fMxk82" target='_blank'>
          <img style="padding-right: 24px" class='social' src="{{image-url}}social-discord.png" alt='' />
        </a>
        <a href="https://twitter.com/santimentfeed" target='_blank'>
          <img style="padding-right: 24px" class='social' src="{{image-url}}social-twitter.png" alt='' />
        </a>
        <a href="https://t.me/santiment_network" target='_blank'>
          <img  src="{{image-url}}social-telegram.png" class='social' alt='' />
        </a>
      </p>
    </columns>
    </row>
    <row>
      <columns small="12">
      <small class='small'>
        You are receiving this email to sign in the Santiment application.
        If&nbsp;you did not enter your email address, then you can either ignore this message or contact <a href="mailto:support@santiment.net" target='_blank'>support@santiment.net</a> for more information.
      </small>

      <spacer size="12"></spacer>

      <row>
        <columns large='8' small='12'>
        <small class='small'>© 2019 Santiment Inc. All rights reserved</small>
      </columns>
      <columns large='4' small='12'>
        <p style='color: #7a859e; margin: 0;' class='text-right small-text-left small'>
        <a href='https://app.santiment.net/privacy-policy' target='_blank'><small>Terms & Privacy</small></a>
      </p>
      </columns>
      </row>
    </columns>
    </row>
  </container>
