<row class="insight">
    <columns>
      <span class="insight-title">Bitcoin’s $8400 Crash: What On-Chain and Social Data Tell Us</span>
      <h4 class="insight-author">San clan</h4>
      <h5 class="insight-date">Mar 28, 2019</h5>

        <row  class="tags">
          <columns large="9" small="12">
            <span>crypto market</span>
            <span>btc</span>
            <span>eth</span>
            <span>consensus</span>
            <span>block</span>
          </columns>
          <columns large="3">
            <a href="https://insights.santiment.net" target="_blank" rel="noopener noreferrer" class="insight-link">
                View insight
            </a>
          </columns>
    </row>

    </columns>
</row>
<spacer size="10"></spacer>
