<row class="insight">
    <columns>
      <span class="insight-title">insight-title</span>
      <h4 class="insight-author">this.insight-author</h4>
      <h5 class="insight-date">this.insight-date</h5>

        <row  class="tags">
          <columns large="9" small="12">
            <!-- each this.tags -->
            <span>this</span>
            <!-- /each this.tags -->
          </columns>
          <columns large="3">
            <a href="this.insight-link" target="_blank" rel="noopener noreferrer" class="insight-link">
                View insight
            </a>
          </columns>
    </row>

    </columns>
</row>
<spacer size="10"></spacer>
