<row>
        <columns large='3' vailgn='middle'>
          <img src="{{image-url}}list-item.png" alt="" class='float-left list-item' />
          <span mc:edit="item_1">Portfolio</span>
        </columns>
        <columns large='4' vailgn='middle'>
          <img src="{{image-url}}list-item.png" alt="" class='float-left list-item' />
          <span mc:edit="item_2">Asset monitoring</span>
        </columns>
        <columns large='4' vailgn='middle'>
          <img src="{{image-url}}list-item.png" alt="" class='float-left list-item' />
          <span mc:edit="item_3">Trading alerts</span>
        </columns>
</row>

<spacer size="10"></spacer>
