<row>
        <columns large='3' vailgn='middle'>
          <img src="{{image-url}}list-item.png" alt="" class='float-left list-item' />
          <span>Portfolio</span>
        </columns>
        <columns large='4' vailgn='middle'>
          <img src="{{image-url}}list-item.png" alt="" class='float-left list-item' />
          <span>Asset monitoring</span>
        </columns>
        <columns large='4' vailgn='middle'>
          <img src="{{image-url}}list-item.png" alt="" class='float-left list-item' />
          <span>Trading alerts</span>
        </columns>
</row>

<spacer size="10"></spacer>
