<wrapper class="footer">
    <container class="radius">
        <row class="collapse footer-mb">
            <columns valign="middle" class="pb-0">
                <img src="{{image-url}}logo.png" class="footer-logo">
            </columns>
            <columns valign="middle" class="pb-0 text-right socials">
                <a class='social' href="https://discord.gg/E2r2aZXX4u" target='_blank'>
                    <img  src="{{image-url}}discord.png" alt='Discord' />
                </a>
                <a class='social' href="https://twitter.com/santimentfeed" target='_blank'>
                    <img  src="{{image-url}}twitter.png" alt='Twitter' />
                </a>
                <a class='social' href="https://t.me/santiment_network" target='_blank'>
                    <img  src="{{image-url}}telegram.png" alt='Telegram' />
                </a>
                <a class='social' href="https://www.youtube.com/c/SantimentNetwork" target='_blank'>
                    <img  src="{{image-url}}youtube.png" alt='Youtube' />
                </a>
            </columns>
        </row>
        <p class="c-fiord footer-mb">
            You received this email because you are a current user of santiment.net.
            To manage your email preferences, please go to your <a href="https://app.santiment.net/account" target="_blank">account settings</a>,
            or contact <a href="mailto:support@santiment.net" target='_blank'>support@santiment.net</a> for more information.
        </p>
        <row height="32" class="collapse">
            <columns valign="middle" large='8' small='12' class="pb-0">
                <span class="body-2 c-waterloo">© 2022 Santiment Inc. All rights reserved</span>
            </columns>
            <columns valign="middle" large='4' small='12' class="pb-0">
                <a href='https://app.santiment.net/privacy-policy' target='_blank' class="d-block body-2 m-0 c-waterloo underline">Terms & Privacy</a>
            </columns>
        </row>
    </container>
</wrapper>