<wrapper class="header">

    <spacer size="84"></spacer>

    <container>
        <row>
            <columns vailgn='middle'>
                <a href="https://santiment.net" target="_blank">
                    <center>
                        <img src="{{image-url}}logo.png" style="width: 128px !important; height: 24px !important;" class="logo" alt="Santiment Logo">
                    </center>
                </a>
            </columns>
        </row>
    </container>

</wrapper>
<wrapper class="browser-view-wrapper">

    <spacer size="52"></spacer>

    <container class="header">
        <a href="*|ARCHIVE|*" class="browser-view body-2 c-casper">View in browser</a>
    </container>

    <spacer size="12"></spacer>

</wrapper>
<wrapper class="body-expander">

    <container class="radius">
        <spacer size="68"></spacer>
    </container>

</wrapper>