<wrapper class="header">

    <spacer size="44"></spacer>

    <container>
        <row>
            <columns vailgn='middle'>
                <a href="https://santiment.net" target="_blank">
                    <center>
                        <img src="{{image-url}}logo.png" style="width: 128px !important; height: 24px !important;" class="logo">
                    </center>
                </a>
            </columns>
        </row>
    </container>

    <spacer size="24"></spacer>
</wrapper>
<wrapper class="body-expander">

    <container class="radius">
        <spacer size="32"></spacer>
    </container>

</wrapper>