<spacer size="24"></spacer>

<ul class="mail-list">
  <li>
    <img src="https://mcusercontent.com/122a728fd98df22b204fa533c/images/15ad0deb-eaba-4728-27ad-7b5941341d5d.png"
      class="mail-list-check" alt="Check">
    <span class="body-2 c-fiord">Full historical and present-day data</span>
  </li>
  <spacer size="16"></spacer>
  <li>
    <img src="https://mcusercontent.com/122a728fd98df22b204fa533c/images/15ad0deb-eaba-4728-27ad-7b5941341d5d.png"
      class="mail-list-check" alt="Check">
    <span class="body-2 c-fiord">Closed Discord chat with other PRO subscribers</span>
  </li>
  <spacer size="16"></spacer>
  <li>
    <img src="https://mcusercontent.com/122a728fd98df22b204fa533c/images/15ad0deb-eaba-4728-27ad-7b5941341d5d.png"
      class="mail-list-check" alt="Check">
    <span class="body-2 c-fiord">Exclusive insights and Bi-weekly PRO reports</span>
  </li>
  <spacer size="16"></spacer>
  <li>
    <img src="https://mcusercontent.com/122a728fd98df22b204fa533c/images/15ad0deb-eaba-4728-27ad-7b5941341d5d.png"
      class="mail-list-check" alt="Check">
    <span class="body-2 c-fiord">Full access to our Spreadsheets plugin with dozens of pre-made templates</span>
  </li>
  <spacer size="16"></spacer>
  <li>
    <img src="https://mcusercontent.com/122a728fd98df22b204fa533c/images/15ad0deb-eaba-4728-27ad-7b5941341d5d.png"
      class="mail-list-check" alt="Check">
    <span class="body-2 c-fiord">Extended watchlists and alerts</span>
  </li>
  <spacer size="16"></spacer>
  <li>
    <img src="https://mcusercontent.com/122a728fd98df22b204fa533c/images/15ad0deb-eaba-4728-27ad-7b5941341d5d.png"
      class="mail-list-check" alt="Check">
    <span class="body-2 c-fiord">Full access to Sanbase Screener with 100+ filters</span>
  </li>
  <spacer size="16"></spacer>
  <li>
    <img src="https://mcusercontent.com/122a728fd98df22b204fa533c/images/15ad0deb-eaba-4728-27ad-7b5941341d5d.png"
      class="mail-list-check" alt="Check">
    <span class="body-2 c-fiord">Exclusive webinars and personalized walkthroughs</span>
  </li>
</ul>

<spacer size="8"></spacer>
